.global-search {
    flex: 1;
    display: flex;
    justify-content: center;

    input {
        width: 300px;
        padding: 8px 14px;
        border-radius: 20px;
        border: 1px solid #333;
        background: #111;
        color: #fff;
        outline: none;
        transition: 0.3s;

        &::placeholder {
            color: #777;
        }

        &:focus {
            border-color: #fff;
            width: 360px;
        }
    }
}

.global-search-mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* overlay search */
.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background: black;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;

    z-index: 30000;
}

.search-overlay input {
    flex: 1;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}