.social-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 0.75px solid #000000;
    background: #fff;
    cursor: pointer;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    transition: 0.3s ease;
}

.social-btn:hover {
    background: #f3f3f3;
    transform: translateY(-2px);
}

.social-btn img {
    width: 18px;
}