/* src/components/Commons/LogoutButton/LogoutButton.scss */

.logout-button {
    background-color: #ff4d4f;
    /* Màu nền cho nút */
    color: white;
    /* Màu chữ */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #ff1a1a;
        /* Màu nền khi hover */
    }

    &:focus {
        outline: none;
    }
}