html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-left,
.login-right {
    width: 50%;
}

.login-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.login-box {
    width: 350px;
}

.login-title {
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.form-group {
    margin-bottom: 15px;

    label {
        font-size: 15px;
        font-weight: bold;
        display: block;
        margin-bottom: 6px;
    }
}

.input-field {
    width: 100%;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
    transition: 0.2s ease;

    &:focus {
        border-color: #000;
        outline: none;
        box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.08);
    }
}

.password-wrapper {
    position: relative;
}

.options-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    font-size: 14px;
}

.remember-me input {
    margin-right: 5px;
}

.forgot-link {
    text-decoration: none;
    font-weight: bold;
    color: #007bff;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background: #0C6917;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s ease;
}

.login-btn:hover {
    background: #0a5612;
    transform: translateY(-2px);
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center; // Căn cả khối vào giữa
    margin: 15px 0px;

    &::before,
    &::after {
        content: "";
        width: 60px;
        height: 1px;
        background: #000000;
    }

    span {
        padding: 0 10px;
        font-size: 12px;
        color: #000000;
        font-weight: bold;
    }
}

.social-btn {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 0.75px solid #000000;
    background: #fff;
    cursor: pointer;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    transition: 0.3s ease;
}

.social-btn:hover {
    background: #f3f3f3;
    transform: translateY(-2px);
}

.social-btn img {
    width: 18px;
}

.signup-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.signup-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bolder;
}

.policy-link {
    color: #0C6917;
    font-weight: 600;
    text-decoration: underline;
}

.login-right {
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}

.login-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.otp-wrapper {
    display: flex;
    gap: 35px;
    margin: 20px 0 30px 0;
}

.otp-input {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 12px;
    border: none;

    background: #D9D9D9;

    box-shadow:
        inset 3px 3px 6px rgba(0, 0, 0, 0.15),
        inset -3px -3px 6px rgba(255, 255, 255, 0.6);

    transition: all 0.2s ease;
}

.otp-input:focus {
    outline: none;

    background: #ffffff;
    box-shadow:
        0 0 0 3px rgba(12, 105, 23, 0.15),
        0 4px 10px rgba(0, 0, 0, 0.1);

    transform: translateY(-2px);
}

.otp-resend {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #666;

    display: flex;
    justify-content: center;
    gap: 6px;
}

.resend-btn {
    background: none;
    border: none;
    color: #0C6917;
    font-weight: 600;
    cursor: pointer;
    padding: 0;
}

.resend-btn:disabled {
    color: #999;
    cursor: not-allowed;
}

.resend-btn:hover:not(:disabled) {
    text-decoration: underline;
}